{% load static %}
<header class="wrapper">
    <h1><a href="{% url 'home' %}"></a>Spiritual Programmer</h1>
    <!--<img src="{% static 'Django.png' %}" />-->
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li><a href="{% url 'articles:create' %}" class="highlight">New Article</a></li>
            {% else %}
            <li><a href="{% url 'accounts:signup' %}">Home</a></li>
            <li><a href="{% url 'accounts:login' %}">About</a></li>
            <li><a href="{% url 'accounts:signup' %}">Contact</a></li>
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>      
            {% endif %}
        </ul>
    </nav>
</header>